.admin-dashboard {
    padding: 0;
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
}

#admin-actions {
    display: border-box;
    border: 1px solid black;
    margin: 1rem;
}

.admin-dashboard table {
    width: 100%;
    border-collapse: collapse;
}

.admin-dashboard th, .admin-dashboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-dashboard th {
    background-color: #4e7800;
    color: white;
}

.admin-dashboard tr:nth-child(even) {
    background-color: #f2f2f286;
}

.admin-list {
    width: 95%;
    margin: 1rem auto;
}