header {
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  height: 45vh;
  margin: 0;
  background: url("../../common/images/Header.jpg") no-repeat;
  background-size: 100vw;
  border: none;
}

header .button-container {
  display: flex;
  gap: 0.1rem; /* Add space between the buttons */
  margin-top: 1rem;
  margin-right: 1rem;
}

button {
  background-color: #4e7800;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

#btn-register {
  background-color: transparent;
  color: #4e7800;
  text-decoration: underline;
}
