.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #4e7800;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-bottom: none;
}


.post-content {
  font-size: 1.125rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  max-width: 60vw;
  height: fit-content;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  border: 1px solid #4e7800;
}

.post-date, .post-author {
  color: #333;
  font-weight: bold;
}

.post-likes {
  color: #007bff;
  font-weight: bold;
}

.post-btns {
  display: flex;
  gap: 1rem;
}