.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#create-post-btn {
    margin-left: auto;
}

#forum-list-user {
    width: 80vw;
    margin: 1rem auto;
}

.anon-btns {
display: flex;
align-items: flex-start;
gap: 1.5rem;
margin: 0.5rem 0 0.5rem 0;
}